
debazaar.click {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }

    @api path /api/*
    handle @api {
        reverse_proxy web:8000
    }

    handle {
        reverse_proxy frontend:80
    }
}
