
debazaar.click {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }

    @api path /api/*
    handle @api {
        reverse_proxy escrew-telegram-mvp-web-1:8000
    }

    handle {
        reverse_proxy 172.18.0.1:3000
    }
}
